# GEMINI_API_KEY: Clé d'API requise pour les fonctionnalités IA de l'application.
GEMINI_API_KEY="VOTRE_CLE_GEMINI_API"

# APP_URL: L'adresse URL de déploiement de l'application.
APP_URL="http://localhost:3000"
